* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
}

.value {
  font-size: 50px;
  font-weight: bold;
  color: #53131e;
  display: block;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: #ffefbd;
  margin: 30px 0;
}

.label {
  font-size: 20px;
  color: #5a464c;
  text-transform: uppercase;
}
